body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #1E1E1E; /* Темный фон */
  color: #E0E0E0; /* Светлый текст */
}

.blur-bg {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header, section, footer {

  text-align: center;
  background-color: rgba(0, 0, 0, 0.8); /* Черный фон с небольшой прозрачностью */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

header section h2, p, ul, form label {
  font-size: 120%;
  color: #E0E0E0; /* Светлый текст */
}
header h1 {
  font-size: 250%;
}


header {
  background-color: rgba(0, 0, 0, 0.664); /* Черный фон для хедера с прозрачностью */
}

p {
  margin: 10px 0;
  color: #B0B0B0; /* Светло-серый текст */
}

section {
  background-color: rgba(0, 0, 0, 0.658); /* Черный фон с небольшой прозрачностью */
}

label {
  margin-bottom: 5px;
  color: #CCCCCC; /* Серый текст */
}

button {
  padding: 20px;
  background-color: #2196F3; /* Синий */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1976D2; /* Синий при наведении */
}

footer {
  color: #B0B0B0; /* Светло-серый текст */
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

footer p {
  margin: 0;
  padding: 20px 0;
}

.advantage-blocks, .steps, #price, .aida-container {

  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.advantage-block, .step, .aida-block {
  background-color: rgba(0, 0, 0, 0.062); /* Черный фон с большей прозрачностью */
  flex-basis: calc(33.333% - 20px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.advantage-block, .step, .price-step {
  margin-bottom: 16px;
  margin-right: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Добавляем белую обводку */
}

.aida-block {
  border: 1px solid rgba(0, 0, 0, 0.2); /* Добавляем черную обводку */
}



.advantage-block h3, .step h3, .aida-block h3 {
  margin-top: 0;
  color: #E0E0E0; /* Светлый текст */
}

.advantage-block p, .step p, .aida-block p {
  color: #B0B0B0; /* Светло-серый текст */
  opacity: 0.8; /* Прозрачность текста */
}

/* Дополнительные стили для секции с ценой */
#price {
  background-color: rgba(0, 0, 0, 0.8);
  color: #E0E0E0;
  padding: 30px 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.price-steps {
  display: flex;
  justify-content: space-between; /* Горизонтальное расположение блоков на компьютерах */
  margin-top: 30px;
  margin-bottom: 16px;
}

.price-step {
  flex-basis: calc(33.333% - 20px); /* Блоки занимают треть ширины родительского контейнера на компьютерах */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.price-step h3 {
  margin-top: 0;
  color: #E0E0E0;
}

.price-step p {
  color: #B0B0B0;
}

/* Изменения для мобильных устройств */
@media only screen and (max-width: 768px) {
  .price-steps {
      flex-direction: column; /* Вертикальное расположение блоков на мобильных устройствах */
  }

  .price-step {
      flex-basis: 100%; /* Блоки занимают всю ширину родительского контейнера на мобильных устройствах */
      margin-bottom: 20px; /* Добавляем отступ между блоками */
  }
}


/* Дополнительные стили для кнопок "Связаться" */
.cta-button {
  padding: 15px 30px;
  background-color: #FF9800; /* Оранжевый */
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Убираем стандартное подчеркивание для ссылок */
}

.cta-button:hover {
  background-color: #F57C00; /* Темно-оранжевый при наведении */
}
#price .cta-button {
  margin: 0 auto; /* Центрируем кнопку по горизонтали */

  padding: 15px 30px; /* Задаем отступы вокруг текста кнопки */
  background-color: #FF9800; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  border: none; /* Убираем границу у кнопки */
  border-radius: 5px; /* Задаем скругленные углы кнопки */
  cursor: pointer; /* Задаем курсор указателя при наведении на кнопку */
}
h1 {
  font-size: 250%; /* Установка размера шрифта в 150% от базового размера */
}
a.download-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2196F3; /* Цвет фона (синий) */
  color: #fff; /* Цвет текста (белый) */
  text-decoration: none; /* Убираем подчеркивание */
  border-radius: 5px; /* Закругленные углы */
  transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
}

a.download-link:hover {
  background-color: #1976D2; /* Изменение цвета при наведении (более темный синий) */
}
@media only screen and (max-width: 768px) {
  .advantage-blocks, .steps, #price, .aida-container {
      flex-direction: column; /* Блоки будут располагаться сверху вниз */
  }

  .advantage-block, .step, .aida-block {
      flex-basis: 100%; /* Блоки занимают всю ширину экрана */
      margin-bottom: 20px; /* Добавляем отступ между блоками */
  }
}
.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section {
  flex: 0 0 calc(25% - 20px);
  margin: 10px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.section h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.section p {
  font-size: 1em;
  margin-bottom: 15px;
}

.section a {
  display: inline-block;
  background-color: rgba(0, 136, 204, 0.9);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.section a:hover {
  background-color: rgba(0, 85, 128, 0.9);
}

.block {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
/* Стили для контейнера хедера */
header .container {
  position: relative;
}

/* Стили для кнопки переключения языка */
.language-switch {
  position: absolute;
  top: 30%;
  right: 10px;
  padding: 10px 20px;
  background-color: #292626;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.language-switch:hover {
  background-color: #F57C00;
}
@media only screen and (max-width: 600px) {
  .cta-button {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 9999; /* Встановлюємо велике значення z-index, щоб кнопка була наверху */
  }
}

/* Додайте медіа-запит для мобільних пристроїв */
@media only screen and (max-width: 600px) {
  .header-content {
      position: relative;
  }

  .language-switch {
      position: absolute;
      top: 10px;
      right: 10px;
  }
}